@font-face {
    font-family: "RubikBlack";  
    src: url("../fonts/Rubik-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "RubikBlackItalic";  
    src: url("../fonts/Rubik-BlackItalic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "RubikBold";  
    src: url("../fonts/Rubik-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-BoldItalic";  
    src: url("../fonts/Rubik-BoldItalic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "RubikItalic";  
    src: url("../fonts/Rubik-Italic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "RubikLight";  
    src: url("../fonts/Rubik-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "RubikLightItalic";  
    src: url("../fonts/Rubik-LightItalic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "RubikMedium";  
    src: url("../fonts/Rubik-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "RubikMediumItalic";  
    src: url("../fonts/Rubik-MediumItalic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "RubikRegular";  
    src: url("../fonts/Rubik-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

